<section>
    <a href='/dashboard' class='justify-content-end'>&larr; Back </a>
    <h2 class='title'>Create a post</h2>
    <hr>

    <form class='new-post'>

        <div>
            <label for="post-title">Title:</label>
            <input class='input' type='text' id='post-title' name='blog-title' placeholder='Write your post title here' />
        </div>

        <div>
            <label for='post-content'>Content:</label>
            <textarea class='form-control rounded-3 z-depth-1' name='post-content' id='post-content' rows='10' placeholder='Write your post here'></textarea>
         </div>
         <button type='submit' class='btn btn-primary justify-content-end'>Create</button>
    </form>
</section>

<script src='/js/create-blog.js'></script>