<div id="signup-form" class="row">
    <form class="offset-1 col-10 offset-lg-3 col-lg-6">
        <div class="bg-black px-3 py-2 rounded-1 mb-3">
            <h2 class="text-white">Sign Up</h2>
        </div>
        <div class="mb-3 mx-1">
            <label for="signup-username" class="form-label">Username</label>
            <input type="text" class="form-control" id="signup-username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 mx-1">
            <label for="signup-password" class="form-label">Password</label>
            <input type="password" class="form-control" id="signup-password">
        </div>
        <button id="submit-btn" type="submit" class="btn btn-primary mx-1">Submit</button>
        <a href="/login" class="form-text mx-1">Log in instead</a>
    </form>
</div>
    
    {{! Path: public/js/signup.js }}

<script src="./js/signup.js"></script>